In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Automobile_data.csv")

In [3]:
type(df)

pandas.core.frame.DataFrame

In [5]:
#rows,col
df.shape

(61, 10)

In [6]:
df.columns

Index(['index', 'company', 'body-style', 'wheel-base', 'length', 'engine-type',
       'num-of-cylinders', 'horsepower', 'average-mileage', 'price'],
      dtype='object')

In [7]:
df.dtypes

index                 int64
company              object
body-style           object
wheel-base          float64
length              float64
engine-type          object
num-of-cylinders     object
horsepower            int64
average-mileage       int64
price               float64
dtype: object

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 10 columns):
index               61 non-null int64
company             61 non-null object
body-style          61 non-null object
wheel-base          61 non-null float64
length              61 non-null float64
engine-type         61 non-null object
num-of-cylinders    61 non-null object
horsepower          61 non-null int64
average-mileage     61 non-null int64
price               58 non-null float64
dtypes: float64(3), int64(3), object(4)
memory usage: 4.8+ KB

In [9]:
df.head()

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

In [10]:
df.tail()

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
56,81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
57,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
58,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
59,87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
60,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

In [13]:
subset = df[['company','average-mileage','price']]
subset.head()

       company  average-mileage    price
0  alfa-romero               21  13495.0
1  alfa-romero               21  16500.0
2  alfa-romero               19  16500.0
3         audi               24  13950.0
4         audi               18  17450.0

In [14]:
df.columns[1]

'company'

In [15]:
df[df.columns[1]]

0       alfa-romero
1       alfa-romero
2       alfa-romero
3              audi
4              audi
5              audi
6              audi
7               bmw
8               bmw
9               bmw
10              bmw
11              bmw
12              bmw
13        chevrolet
14        chevrolet
15        chevrolet
16            dodge
17            dodge
18            honda
19            honda
20            honda
21            isuzu
22            isuzu
23            isuzu
24           jaguar
25           jaguar
26           jaguar
27            mazda
28            mazda
29            mazda
          ...
31            mazda
32    mercedes-benz
33    mercedes-benz
34    mercedes-benz
35    mercedes-benz
36       mitsubishi
37       mitsubishi
38       mitsubishi
39       mitsubishi
40           nissan
41           nissan
42           nissan
43           nissan
44           nissan
45          porsche
46          porsche
47          porsche
48           toyota
49           toyota
50           toyota
51           toyota
52           toyota
53           toyota
54           toyota
55       volkswagen
56       volkswagen
57       volkswagen
58       volkswagen
59            volvo
60            volvo
Name: company, Length: 61, dtype: object

In [17]:
df.head()

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

In [18]:
df.loc[0]

index                         0
company             alfa-romero
body-style          convertible
wheel-base                 88.6
length                    168.8
engine-type                dohc
num-of-cylinders           four
horsepower                  111
average-mileage              21
price                     13495
Name: 0, dtype: object

In [19]:
df.loc[-1]

KeyError: 'the label [-1] is not in the [index]'

In [21]:
no_of_rows = df.shape[0]
last_row_index = no_of_rows - 1
print(last_row_index)

60

In [22]:
df.loc[last_row_index]

index                  88
company             volvo
body-style          wagon
wheel-base          104.3
length              188.8
engine-type           ohc
num-of-cylinders     four
horsepower            114
average-mileage        23
price               13415
Name: 60, dtype: object

In [26]:
df.loc[[0,30,50]]

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
30,39,mazda,hatchback,95.3,169.0,rotor,two,101,17,11845.0
50,68,toyota,hatchback,95.7,158.7,ohc,four,62,31,6488.0

In [27]:
df.loc[5]

index                   5
company              audi
body-style          sedan
wheel-base           99.8
length              177.3
engine-type           ohc
num-of-cylinders     five
horsepower            110
average-mileage        19
price               15250
Name: 5, dtype: object

In [28]:
df.iloc[5]

index                   5
company              audi
body-style          sedan
wheel-base           99.8
length              177.3
engine-type           ohc
num-of-cylinders     five
horsepower            110
average-mileage        19
price               15250
Name: 5, dtype: object

In [29]:
df.iloc[-1]

index                  88
company             volvo
body-style          wagon
wheel-base          104.3
length              188.8
engine-type           ohc
num-of-cylinders     four
horsepower            114
average-mileage        23
price               13415
Name: 60, dtype: object

In [36]:
subset=df[['company', 'price']]
subset.head()

       company    price
0  alfa-romero  13495.0
1  alfa-romero  16500.0
2  alfa-romero  16500.0
3         audi  13950.0
4         audi  17450.0

In [33]:
subset = df.loc[:, ['company', 'price']]
subset.head()

       company    price
0  alfa-romero  13495.0
1  alfa-romero  16500.0
2  alfa-romero  16500.0
3         audi  13950.0
4         audi  17450.0

In [38]:
small_range = list(range(70))

subset = df.iloc[:, small_range]
subset.head()

IndexError: positional indexers are out-of-bounds

In [40]:
print(df.iloc[42, 0])

55

In [44]:
print(df.iloc[[1,5,50],[1,3,5]])

        company  wheel-base engine-type
1   alfa-romero        88.6        dohc
5          audi        99.8         ohc
50       toyota        95.7         ohc

In [45]:
print(df.loc[[0, 9, 50], ['company', 'horsepower', 'price']])

        company  horsepower    price
0   alfa-romero         111  13495.0
9           bmw         121  20970.0
50       toyota          62   6488.0

In [47]:
print(df.groupby('price')['horsepower'].mean() )

price
5151.0      48.0
5195.0      68.0
5348.0      62.0
5389.0      68.0
6095.0      68.0
6189.0      68.0
6229.0      68.0
6295.0      70.0
6338.0      62.0
6377.0      68.0
6488.0      62.0
6575.0      70.0
6649.0      69.0
6785.0      78.0
6795.0      68.0
6849.0      69.0
6918.0      62.0
6989.0      88.0
7099.0      55.0
7295.0      76.0
7349.0      69.0
7775.0      52.0
7898.0      62.0
7975.0      85.0
7995.0      52.0
8189.0      88.0
8778.0      62.0
9995.0     100.0
10345.0    100.0
11845.0    101.0
12940.0    114.0
12945.0    101.0
13415.0    114.0
13495.0    111.0
13499.0    152.0
13950.0    102.0
15250.0    110.0
15750.0    156.0
16430.0    101.0
16500.0    132.5
16925.0    101.0
17450.0    115.0
18344.0     72.0
18920.0    110.0
20970.0    121.0
25552.0    123.0
28248.0    123.0
30760.0    182.0
32250.0    176.0
34028.0    207.0
35550.0    176.0
36000.0    262.0
36880.0    182.0
37028.0    207.0
40960.0    184.0
41315.0    182.0
45400.0    184.0
Name: horsepower, dtype: float64

In [52]:
df_test = pd.DataFrame( [ 1,2,1,2,5,3] )
df_test

   0
0  1
1  2
2  1
3  2
4  5
5  3

In [53]:

df_test[0].value_counts()

2    2
1    2
5    1
3    1
Name: 0, dtype: int64

In [54]:
df_test[0].nunique()

4

In [57]:
print(df.groupby('horsepower').value_counts())

AttributeError: 'DataFrameGroupBy' object has no attribute 'value_counts'