In [1]:
language="python" 
inventer_name="Guido van Rossum" 
year=1980

In [9]:
print("%s was conceived in the late %s by %s"%(language,year,inventer_name))
print(language,"was conceived in the late",year,"by",inventer_name)
print("{} was conceived in the late {} by {}".format(language,year,inventer_name))
print("{0} was conceived in the late {1} by {2}".format(language,year,inventer_name))
print(f"{language} was conceived in the late {year} by {inventer_name}")

python was conceived in the late 1980 by Guido van Rossum
python was conceived in the late 1980 by Guido van Rossum
python was conceived in the late 1980 by Guido van Rossum
python was conceived in the late 1980 by Guido van Rossum
python was conceived in the late 1980 by Guido van Rossum

In [17]:
print('str_data ' + 'str_data1')

str_data str_data1

In [18]:
print( 1.1 + 1 )

2.1

In [21]:
print( False + True )

1

In [24]:
#Join command seperatted value to the variable: name="a b c d e"
#Expected output: "a,b,c,d,e"

name="a b c d e"
name.replace(" ",",")

'a,b,c,d,e'

In [33]:
#validate the string start with the string 'filter_' ? 
#input variable: filter_name and expected output: True 

str1 = "filter_name"
str1.startswith("filter_")

True

In [34]:
#find the total lenght of the string ?
str_name ="Here are examples of both forms"
len(str_name)

31

In [37]:
# add to  two strings
str_name_1 = 'test1'
str_name_2 = 'test2'

str_name_1 + str_name_2

'test1test2'

In [43]:
#Split the below data
data="Name,Phone,Address"
data.split(',')

['Name', 'Phone', 'Address']

In [45]:
6e9

6000000000.0